@font-face {
    font-family: ttcommmons-black;
    src: url("../img/ttcommons-black.woff2") format("woff2"), url("../img/ttcommons-black.woff") format("woff")
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font: 17px/24px -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif
}

a {
    text-decoration: none;
    color: #3f8ae0
}

a:hover {
    text-decoration: underline
}

.landing {
    text-align: left
}

:root {
    --koef: 0
}

.page {
    height: 100%;
    width: 940px;
    margin: auto
}

.page__main {
    min-height: calc(-36%);
    margin-bottom: -136px;
    padding-bottom: 136px
}

.page__header {
    position: relative;
    padding: 130px 0 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column
}

.page__content {
    position: relative;
    padding: 36px 665px 0 0;
    min-height: 638px
}

@media screen and (max-width: 940px) {
    .page {
        width: auto;
        max-width: 420px;
        padding: 0 20px
    }
    .page__main {
        min-height: calc(-64%);
        margin-bottom: -164px;
        padding-bottom: 164px
    }
    .page__header {
        padding: 93px 0 0
    }
    .page__content {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0
    }
    .page__content>* {
        -ms-flex-order: 1;
        order: 1
    }
}

.logo {
    position: absolute;
    top: 56px;
    left: -3px
}

.logo__desktop {
    position: relative;
}

.logo__sign {
    position: absolute;
    top: 0;
    left: 0;
    width: 65px;
    height: 56px
}

.logo__mobile {
    display: none
}

@media screen and (max-width: 940px) {
    .logo {
        top: 24px;
        left: 0
    }
    .logo__desktop {
        display: none
    }
    .logo__mobile {
        display: block
    }
}

.title {
    display: none;
    margin: 10px 60px 15px 3px;
    font: 20px/28px ttcommmons-black, sans-serif;
    text-transform: uppercase
}

@media screen and (max-width: 940px) {
    .title {
        display: block
    }
}

.tagline {
    margin: 0 0 0 -5px
}

.picture {
    position: absolute;
    top: 0;
    right: 0;
    width: 665px;
    height: 100%;
}

@media screen and (max-width: 940px) {
    .picture {
        position: static;
        width: auto
    }
    .page__content>.picture {
        -ms-flex-order: 2;
        order: 2
    }
}

.phone {
    vertical-align: top;
    max-width: 100%;
    margin: 0 0 40px;
    height: 100%;
}

.phone--android2 {
    top: 22px;
    right: 8px;
    height: 100%;
    background: url(../img/33.png) no-repeat;
    background-size: contain;
    background-position: center;
    -o-transform: translateY(calc(var(--koef) * 0.5 * 30px));
    transform: translateY(calc(var(--koef) * 0.5 * 30px))
}

.phone--android {
    top: -40px;
    right: 279px;
    background: url(../img/44.png) no-repeat;
    background-size: contain;
    background-position: center;
    -o-transform: translateY(calc(var(--koef) * 30px));
    transform: translateY(calc(var(--koef) * 30px))
}

@media screen and (max-width: 940px) {
    .phone {
        -o-transform: none;
        transform: none
    }
    .phone--android{
      height: 670px;
    }
    .phone--android2{
      height: 670px;
    }
}

@media screen and (max-width: 460px) {
    .phone {
        max-width: 100%
    }
    .phone--android{
      display: none;
      height: 670px;
    }
    .phone--android2{
      height: 670px;
    }
}

@media screen and (min-width: 941px) {
    .phone {
        position: absolute
    }
    .phone--android2 {
        width: 299px;
        height: 561px
    }
    .phone--android {
        width: 330px;
        height: 677px
    }
}

.teaser {
    padding: 44px 0
}

.teaser--contacts {
    background: url('../img/contacts.svg') 0 0 no-repeat
}

.teaser--features {
    background: url('../img/features.svg') 0 0 no-repeat
}

.page--en .teaser--features,
.page--pt .teaser--features {
    background: url('../img/features2.svg') 0 0 no-repeat
}

.teaser>p {
    margin: 0
}

.footer {
    -ms-flex: 0 0 16px;
    flex: 0 0 16px;
    padding: 60px 0;
    width: 940px;
    margin: auto
}

.footer__lang {
    float: right;
    text-decoration: none;
    color: #3f8ae0
}

.footer__copyright>a {
    position: relative;
    padding-right: 22px
}

.footer__copyright>a:before {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -6px;
    width: 14px;
    height: 12px;
    background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20height%3D%2212%22%20viewBox%3D%220%200%2014%2012%22%20width%3D%2214%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M9.961.5c2.231%200%204.039%201.809%204.039%204.039%200%202.215-.884%203.321-4.52%206.149l-1.099.854c-.812.632-1.95.632-2.763%200l-1.099-.854c-3.636-2.828-4.52-3.934-4.52-6.149%200-2.231%201.809-4.039%204.039-4.039%201.112%200%202.104.482%202.961%201.404.857-.922%201.849-1.404%202.961-1.404zm-5.921%201.5c-1.403%200-2.539%201.137-2.539%202.539%200%201.591.653%202.408%203.941%204.965l1.099.854c.271.211.65.211.921%200l1.099-.854c3.288-2.557%203.941-3.375%203.941-4.965%200-1.403-1.137-2.539-2.539-2.539-.848%200-1.619.482-2.344%201.53l-.617.892-.617-.892c-.725-1.048-1.495-1.53-2.344-1.53z%22%20fill%3D%22%23ff3347%22%2F%3E%3C%2Fsvg%3E') 50% no-repeat;
    content: '';
    -o-transform: scale(1);
    transform: scale(1)
}

.footer__copyright>a:hover:before {
    -o-animation: heart-animation 0.7s linear infinite;
    animation: heart-animation 0.7s linear infinite
}

@media screen and (max-width: 940px) {
    .footer {
        width: auto;
        text-align: center;
        padding: 48px 20px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        font-size: 14px
    }
    .footer__lang {
        display: inline
    }
    .footer__copyright {
        margin: 0 0 20px
    }
}

@-o-keyframes heart-animation {
    0% {
        -o-transform: scale(1);
        transform: scale(1)
    }
    25% {
        -o-transform: scale(0.9);
        transform: scale(0.9)
    }
    37.5% {
        -o-transform: scale(1.1);
        transform: scale(1.1)
    }
    50% {
        -o-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes heart-animation {
    0% {
        -o-transform: scale(1);
        transform: scale(1)
    }
    25% {
        -o-transform: scale(0.9);
        transform: scale(0.9)
    }
    37.5% {
        -o-transform: scale(1.1);
        transform: scale(1.1)
    }
    50% {
        -o-transform: scale(1);
        transform: scale(1)
    }
}

@media screen and (max-width: 940px) {
    .page__content>.links {
        -ms-flex-order: 0;
        order: 0;
        margin-bottom: 30px;
        white-space: nowrap;
        width: calc(100% + 20px);
        overflow: auto
    }
}

.link {
    height: 40px;
    padding: 10px 0
}

.page--android .link--ios,
.page--ios .link--android {
    display: none
}

.link-store {
    z-index: 1
}

.link-store,
.link-qr {
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-decoration: none
}

.link-qr {
    width: 39px;
    height: 39px;
    border-radius: 8px;
    border: 2px solid #ebedf0;
    background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20width%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M17.5%2017h1.5c.276%200%20.5.224.5.5v1.5c0%20.276-.224.5-.5.5h-1.5c-.276%200-.5-.224-.5-.5v-1.5c0-.276.224-.5.5-.5zm-5.5%200h1.5c.276%200%20.5.224.5.5v1.5c0%20.276-.224.5-.5.5h-1.5c-.276%200-.5-.224-.5-.5v-1.5c0-.276.224-.5.5-.5zm2.75-2.75h1.5c.276%200%20.5.224.5.5v1.5c0%20.276-.224.5-.5.5h-1.5c-.276%200-.5-.224-.5-.5v-1.5c0-.276.224-.5.5-.5zm2.75-2.75h1.5c.276%200%20.5.224.5.5v1.5c0%20.276-.224.5-.5.5h-1.5c-.276%200-.5-.224-.5-.5v-1.5c0-.276.224-.5.5-.5zm-5.5%200h1.5c.276%200%20.5.224.5.5v1.5c0%20.276-.224.5-.5.5h-1.5c-.276%200-.5-.224-.5-.5v-1.5c0-.276.224-.5.5-.5zm-9.5-.5h4c1.381%200%202.5%201.119%202.5%202.5v4c0%201.381-1.119%202.5-2.5%202.5h-4c-1.381%200-2.5-1.119-2.5-2.5v-4c0-1.381%201.119-2.5%202.5-2.5zm.25%201.75c-.552%200-1%20.448-1%201v3.5c0%20.552.448%201%201%201h3.5c.552%200%201-.448%201-1v-3.5c0-.552-.448-1-1-1zm1%201.5h1.5c.276%200%20.5.224.5.5v1.5c0%20.276-.224.5-.5.5h-1.5c-.276%200-.5-.224-.5-.5v-1.5c0-.276.224-.5.5-.5zm9.75-14.25h4c1.381%200%202.5%201.119%202.5%202.5v4c0%201.381-1.119%202.5-2.5%202.5h-4c-1.381%200-2.5-1.119-2.5-2.5v-4c0-1.381%201.119-2.5%202.5-2.5zm.25%201.75c-.552%200-1%20.448-1%201v3.5c0%20.552.448%201%201%201h3.5c.552%200%201-.448%201-1v-3.5c0-.552-.448-1-1-1zm1%201.5h1.5c.276%200%20.5.224.5.5v1.5c0%20.276-.224.5-.5.5h-1.5c-.276%200-.5-.224-.5-.5v-1.5c0-.276.224-.5.5-.5zm-12.25-3.25h4c1.381%200%202.5%201.119%202.5%202.5v4c0%201.381-1.119%202.5-2.5%202.5h-4c-1.381%200-2.5-1.119-2.5-2.5v-4c0-1.381%201.119-2.5%202.5-2.5zm.25%201.75c-.552%200-1%20.448-1%201v3.5c0%20.552.448%201%201%201h3.5c.552%200%201-.448%201-1v-3.5c0-.552-.448-1-1-1zm1%201.5h1.5c.276%200%20.5.224.5.5v1.5c0%20.276-.224.5-.5.5h-1.5c-.276%200-.5-.224-.5-.5v-1.5c0-.276.224-.5.5-.5z%22%20%2F%3E%3C%2Fsvg%3E') 50% no-repeat;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
    margin: -1px 4px 0
}

.link-qr:hover {
    background-color: #f9f9f9
}

@media screen and (max-width: 940px) {
    .link {
        display: inline-block;
        vertical-align: top;
        margin-right: 8px
    }
    .link-qr {
        display: none
    }
}

.button {
    display: none;
    background: -o-linear-gradient(135deg, #58a1f5, #1b77e0);
    background: linear-gradient(-45deg, #58a1f5, #1b77e0);
    font: 700 16px/18px -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif;
    color: #fff;
    letter-spacing: -0.32px;
    text-align: center;
    text-transform: uppercase;
    padding: 19px 10px;
    border-radius: 8px;
    box-shadow: 0 16px 32px rgba(62, 152, 255, .4);
    border: 0;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    -o-transition: box-shadow 0.2s ease;
    transition: box-shadow 0.2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-flex-order: 3;
    order: 3
}

.button,
.button:active,
.button:hover {
    text-decoration: none
}

@media screen and (max-width: 940px) {
    .button {
        display: block
    }
}

.popup,
.popup__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.popup {
    display: none;
    z-index: 9
}

.popup--visible {
    display: block;
    -o-animation: popupIn .2s ease;
    animation: popupIn .2s ease
}

.popup__overlay {
    position: absolute;
    background: rgba(34, 34, 34, .24)
}

.popup__window {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    margin: auto;
    padding: 55px 65px;
    border-radius: 8px;
    box-shadow: 0 24px 48px rgba(0, 0, 0, .1);
    max-width: 372px;
    transform: translate3d(-50%, -50%, 0)
}

.popup__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 64px;
    height: 64px;
    background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20width%3D%2214%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1%201l12%2012M13%201l-12%2012%22%20stroke%3D%22%23828a99%22%20stroke-linecap%3D%22round%22%20stroke-width%3D%222%22%2F%3E%3C%2Fsvg%3E') 50% no-repeat;
    opacity: .5;
    -o-transition: opacity .2s ease;
    transition: opacity .2s ease;
    cursor: pointer;
    border: 0;
    outline: none
}

.popup__close:hover {
    opacity: .65
}

.popup__content {
    text-align: center;
    font-size: 16px;
    line-height: 23px
}

.popup__content>h2 {
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    margin: 24px 0 20px
}

@-o-keyframes popupIn {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes popupIn {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
